/* ***************** */
/* **** HEADER ***** */
/* ***************** */

.header {
  width: 100%;
  height: 9.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
  padding: 0 9.6rem;
  background-color: var(--gray);
}

.logo {
  height: 3.2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  font-size: 1.6rem;
}

.nav-list-item {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  gap: 0.8rem;
  cursor: pointer;
}

.nav-list-item a {
  all: unset;
}

.nav-list-item:hover {
  color: var(--primary-tint-color);
}

.nav-icon {
  font-size: 1.2rem;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
  z-index: 20;
  display: none;
}
/* 
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.icon-mobile-nav[name="menu-outline"] {
  display: none;
} */

/* ***************** */
/* **** HERO SECTION ***** */
/* ***************** */

.section-hero {
  background-color: var(--gray);
}

.hero {
  max-width: 160rem;
  margin-left: auto;
  margin-right: auto;
  padding: 9.6rem 0 0 9.6rem;
  display: grid;
  grid-template-columns: 40fr 60fr;
}

.heading-primary {
  font-size: 6.2rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
}

.hero-text {
  font-size: 1.8rem;
  color: #585a70;
  margin-bottom: 4.8rem;
}

.hero-img-box {
  text-align: end;
  /* position: relative; */
}

.hero-img {
  width: 90%;
  /* position: absolute;
  bottom: 0;
  right: 0; */
}

.hero-email {
  box-shadow: 0px 3.2rem 2.4rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 4.8rem;
  background-color: #fff;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 100px;
  border-left: 3px solid #ff6585;
}

.hero-input {
  all: unset;
  font-family: inherit;
  width: 30rem;
  font-size: 1.8rem;
  padding: 2rem;
  color: #333;
  background-color: #fff;
}

.hero-email-arrow {
  font-size: 2.4rem;
  color: #ff7894;
  cursor: pointer;
}
.hero-email-arrow:hover {
  color: #ff6585;
}
.hero-mail-icon {
  font-size: 2.4rem;
  color: #bbb;
}

.hero-input::placeholder {
  font-family: inherit;
  color: #aaa;
  letter-spacing: 0.2px;
  font-size: 1.6rem;
}

.hero-customers {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.customer-images {
}
.customer-img {
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: -2rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.05);
}

.nubmber {
  font-size: 2.8rem;
  font-weight: 600;
}
.feedback {
  font-size: 1.4rem;
  /* letter-spacing: 0.2px; */
  color: #585a70;
}

/* ********************* */
/*  HOW IT WORKS SECTION  */
/* ********************* */

.section-how {
  padding: 9.6rem 0;
}

.features {
  margin-top: 4.8rem;
  margin-bottom: 8rem;
  /* overflow: hidden; */
}

.feature {
  padding: 4.8rem;
  border: 1px solid #eee;
  border-radius: 9px;
  transition: all 0.3s;
}

.feature:hover {
  transform: scale(1.025);
  box-shadow: 0 1.6rem 2.4rem 0 rgba(0, 0, 0, 0.025);
}

.feature h4 {
  font-size: 2.2rem;
  margin-bottom: 1.2rem;
}

.features-icon {
  font-size: 1.8rem;
}

.feature-icon {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 300;
  padding: 1.6rem;
  background-color: #4dabf7;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.features-btn:link,
.features-btn:visited {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  gap: 0.4rem;
}

.readmore {
  font-size: 1.6rem;
  color: #555;
  gap: 0.4rem;
  text-decoration: none;
}
.readmore:hover {
  color: #111;
}

/* ########### */
/* MARKETING */
/* ########### */

.marketing {
  gap: 3.2rem;
  padding: 0 6.4rem;
  background-color: var(--gray);
  overflow: hidden;
}

.marketing-img-box {
  background-image: url(../images/about-thumb.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

.marketing-text-box {
  padding: 6.4rem 0;
}

.marketing-list {
  list-style: none;
  gap: 2.4rem;
}

.marketing-list li {
  display: flex;
  gap: 1.2rem;
}

.marketing-list-icon {
  font-size: 4.8rem;
  color: #40c057;
}

/* .marketing-list li::before {
  content: url(/images/check_circle.svg);
  display: inline-block;
  position: absolute;
  top: 0;
  left: -5.7rem;
} */

/* ********************* */
/*  When Ever SECTION  */
/* ********************* */

.section-whenever {
  padding: 9.6rem 0;
  background-color: var(--dark-bg);
  color: #fff;
}

.whenever-header {
  margin-bottom: 8rem;
}

.whenever-header p {
  color: #eee;
}

.whenever-body {
  align-items: center;
  justify-items: center;
  gap: 3.2rem;
}

.whenever-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.whenever-list li {
  padding: 3.2rem 4.8rem 3.2rem 8rem;
  border: 1px solid #333;
  border-radius: 6px;
}

.whenever-list li:hover {
  transform: scale(1.025);
}

.whenever-list li:nth-child(1):hover {
  box-shadow: 0 0rem 3.2rem 0 rgba(230, 73, 128, 0.1);
  border-color: rgba(230, 73, 128, 0.5);
}

.whenever-list li:nth-child(2):hover {
  box-shadow: 0 0rem 3.2rem 0 rgba(51, 155, 240, 0.1);
  border-color: rgba(51, 155, 240, 0.5);
}

.whenever-list li:nth-child(3):hover {
  box-shadow: 0 0rem 3.2rem 0 rgba(64, 192, 87, 0.1);
  border-color: rgba(64, 192, 87, 0.5);
}

.whenever-list li h4::before {
  content: "";
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  top: 0.7rem;
  left: -4rem;
  border-radius: 50%;
}

.whenever-list li:nth-child(1) h4::before {
  background-color: #e64980;
  box-shadow: 0 0 0 5px rgba(230, 73, 128, 0.25);
}

.whenever-list li:nth-child(2) h4::before {
  background-color: #339af0;
  box-shadow: 0 0 0 5px rgba(51, 155, 240, 0.25);
}

.whenever-list li:nth-child(3) h4::before {
  background-color: #40c057;
  box-shadow: 0 0 0 5px rgba(64, 192, 87, 0.25);
}

.whenever-list li h4 {
  letter-spacing: 1.05px;
  position: relative;
}

.whenever-img-box {
  text-align: end;
}

.whenever-img {
  width: 100%;
}

/* ********************* */
/*  statistics SECTION  */
/* ********************* */

.section-statistics {
  padding: 9.6rem 0;
}

.counter-cards {
  margin: 9.6rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  gap: 2.4rem;
}

.counter-card {
  padding: 3.2rem 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 1.2rem; */
  border-radius: 0.6rem;
}

.counter-card:nth-child(1) {
  box-shadow: 0px 1.2rem 4.8rem 0 rgba(0, 0, 0, 0.075),
    0px 1.2rem 2.4rem 0 rgba(51, 155, 240, 0.05);
}

.counter-card:nth-child(2) {
  box-shadow: 0px 1.2rem 4.8rem 0 rgba(0, 0, 0, 0.075),
    0px 1.2rem 2.4rem 0 rgba(252, 195, 25, 0.05);
}

.counter-card:nth-child(3) {
  box-shadow: 0px 1.2rem 4.8rem 0 rgba(0, 0, 0, 0.075),
    0px 1.2rem 2.4rem 0 rgba(64, 192, 87, 0.05);
}

.counter-card:nth-child(4) {
  box-shadow: 0px 1.2rem 4.8rem 0 rgba(0, 0, 0, 0.075),
    0px 1.2rem 2.4rem 0 rgba(230, 73, 128, 0.05);
}

.counter-number {
  font-size: 3.6rem;
  margin-bottom: 0.4rem;
}

.counter-name {
  font-size: 1.4rem;
  color: #777;
}

.video-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2.4rem;
  justify-content: center;
  /* justify-items: end; */
}
.video-image-1 img {
  width: 100%;
  height: 100%;
}
.video-image-2 img {
  width: 100%;
  height: 100%;
}

.video-image-2 {
  text-align: end;
}

.video-desc {
  margin-left: 8rem;
  justify-self: end;
}
.video-desc a:link,
.video-desc a:visited {
  margin-top: 2.4rem;
}
.video-arrows {
  justify-self: end;
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  margin-right: 2.4rem;
}

/* ********************* */
/*  DOWNLOAD SECTION  */
/* ********************* */

.section-download {
  padding: 12.8rem 0;
  background-color: var(--gray);
}

.container-download {
  max-width: 50rem;
}

.download-btns {
  display: flex;
  gap: 1.6rem;
}

.download-btn:link,
.download-btn:visited {
  all: unset;
  padding: 1.2rem 4rem 1.2rem 2rem;
  display: inline-flex;
  align-items: center;
  border-radius: 16px;
  gap: 1.2rem;
  cursor: pointer;
}

.download-ios:link,
.download-ios:visited {
  background-color: var(--dark-bg);
  color: #fff;
}

.download-ios:hover,
.download-ios:active {
}

.download-android:link,
.download-android:visited {
  background-color: #fff;
  color: var(--dark-bg);
  box-shadow: inset 0 0 0 2px var(--dark-bg);
}

.download-btn-icon {
  font-size: 3.6rem;
}

.download-btn-icon > div {
  line-height: 1.1;
}

.download-btn-subtitle {
  font-size: 1.4rem;
  font-weight: 500;
}
.download-btn-heading-3 {
  font-size: 2.4rem;
  font-weight: 600;
}

/* ********************* */
/*  PRICING SECTION  */
/* ********************* */

.section-pricing {
  padding: 9.6rem 0;
  text-align: center;
}

.pricing-switcher {
  display: inline-block;
  border: 2px solid #ddd;
  border-radius: 100px;
  margin-top: 6.4rem;
  margin-bottom: 4.8rem;
}

.pricing-switcher button {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 500;
  color: #888;
  padding: 0.8rem 1.6rem;
  margin: 3px;
  border-radius: 100px;
  cursor: pointer;
}

.pricing-switcher button.clicked {
  background-color: var(--primary-color);
  color: #fefefe;
}

.pricing-plan {
  padding: 4.8rem;
  border: 1px solid #eee;
  border-radius: 6px;
  text-align: start;
}

.pricing-plan--sweet {
  transform: scale(1.02);
  box-shadow: 0 3.2rem 3.2rem 0 rgba(0, 0, 0, 0.075),
    0 -0.3rem 0 0 var(--primary-color);
  position: relative;
  overflow: hidden;
}

.pricing-plan--sweet::after {
  content: "Most Popular";
  display: block;
  position: absolute;
  right: -0.5rem;
  top: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fefefe;
  background-color: #1c7ed6;
  padding: 0.6rem 2rem;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.plan-header {
  border-bottom: 1px solid #eee;
  margin-bottom: 2.4rem;
}

.plan-name {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  font-weight: 500;
}

.plan-price {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.plan-price::before {
  content: "$";
  display: inline-block;
  position: relative;
  top: -1.2rem;
  left: 0rem;
  font-size: 2.4rem;
  font-weight: 300;
  color: #444;
}

.plan-duration {
  font-size: 1.6rem;
  font-weight: 400;
  color: #888;
}

.plan-text {
  font-size: 1.4rem;
  color: #888;
  margin: 1.2rem 0 2.4rem 0;
}

.plan-list {
  color: #555;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.plan-list-item {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.plan-list-item.hidden {
  visibility: hidden;
}

.plan-list-icon {
  font-size: 1.8rem;
  color: #228be6;
  background-color: rgba(34, 139, 230, 0.1);
  padding: 0.4rem;
  border-radius: 50%;
}

/* ********************* */
/*  PLATFORM SECTION  */
/* ********************* */

.section-platforms {
  padding: 9.6rem 0;
  text-align: center;
}

.platforms-header {
  margin-bottom: 4.8rem;
}

.platform-icons {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.6rem;
}

.platform-icon {
  width: 10rem;
  padding: 3rem;
  box-shadow: 0 2.4rem 3.6rem 0rem rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

/* ********************* */
/*  TESTIMONIALS SECTION  */
/* ********************* */
.testimonial {
  padding: 9.8rem 12.8rem;
  background-image: url(/images/testimonial-bg-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 450px; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4.8rem;
  row-gap: 1.6rem;
  align-items: center;
  justify-items: center;
}

.testimonial-img {
  text-align: center;
}

.testimonial-img img {
  border-radius: 100%;
  width: 100%;
}

.testimonial-text {
  grid-column: 2/-1;
  font-size: 2rem;
  line-height: 1.5;
  color: #eee;
}

.rating-stars {
  display: flex;
  color: #fcc419;
  font-size: 1.8rem;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.rating-review {
  font-size: 1.4rem;
  color: #eeeeeecc;
  font-weight: 500;
  text-align: center;
}

.testimonial-info {
  justify-self: start;
  grid-column: 2/4;
}

.testimonial-name {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.testimonial-position {
  color: #eeeeeecc;
  font-size: 1.4rem;
}
.testimonial-arrows {
  justify-self: end;
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  margin-right: 2.4rem;
  grid-column: -2/-1;
}

.btn--testimonial:link,
.btn--testimonial:visited {
  display: flex;
  box-shadow: 0 0 0 1px rgba(221, 221, 221, 0.54);
  border-radius: 50%;
  padding: 1.2rem;
  color: #ddd;
  font-size: 2rem;
}

.btn--testimonial:hover,
.btn--testimonial:active {
  box-shadow: 0 0 0 1px #fff;
}

/* ********************* */
/*  FOOTER SECTION  */
/* ********************* */

.footer {
  padding: 9.6rem 0 4.8rem;
  background-color: var(--gray);
}

.grid-footer {
  grid-template-columns: 35fr 15fr 15fr 35fr;
  gap: 12.8rem;
  padding-bottom: 6.8rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
}

.logo-footer {
  height: 3rem;
}

.social-links {
  display: flex;
  gap: 1.2rem;
}

.social-link {
  all: unset;
  font-size: 2.4rem;
  display: inline-block;
  cursor: pointer;
}
.social-icon {
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 6px;
}

.footer-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.footer-link {
  all: unset;
  font-size: 1.6rem;
  color: #555;
  cursor: pointer;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.6rem;
  font-style: normal;
}
.contact {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.contact-icon {
  font-size: 2rem;
  color: #1c7ed6;
}
.contact a {
  all: unset;
  font-size: 1.6rem;
  color: #666;
  cursor: pointer;
}

.bottom-footer {
  border-top: 1px solid #ccc;
  padding-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-download-btns {
  display: flex;
  gap: 1.2rem;
}

.footer-download-btn {
  all: unset;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 9px;
  cursor: pointer;
}

.footer-download-btn:nth-child(1) {
  background-color: #fff;
}

.footer-download-btn:nth-child(2) {
  box-shadow: inset 0 0 0 1px #ddd;
}

.footer-download-btn-icon {
  font-size: 1.8rem;
}

.copyright {
  font-size: 1.6rem;
  color: #666;
}
/* 

-- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/ ;
